<div class="center container">
    <div class="question">{{question}}</div> 
    <div class="answerType">
    
        
        <div>
            <input id="text_input" type="text" name={{this}}>
        </div>   
        
    </div>

</div>