body {
    background-image: url('images/enso.jpeg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: inherit;
}

.logo {
    width: 234px;
    height: 222px;
    font-size: 48px;
    line-height: 200px;
    text-align: center;
    background-color: green;
    border-radius: 150px;
    border-top: 15px solid #CACD94;
    border-right: 15px solid #CACD94;
    border-left: 15px solid #CACD94;
    border-bottom: 15px solid #CACD94;
}

.center {
    text-align: center;
    margin: auto;
}

.color--green {
    color: #CACD94;
    text-shadow: 0 0 1px black;
}

.btn {
    width: 288px;
    height: 40px;
    background-color: white;
    border-radius: 150px;
    border-top: 5px solid #CACD94;
    border-right: 5px solid #CACD94;
    border-left: 5px solid #CACD94;
    border-bottom: 5px solid #CACD94;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bar {
    width: 500px;
    height: 100px;
    font-size: 30px;

    background-color: white;
    border-top: 12px solid #CACD94;
    border-right: 12px solid #CACD94;
    border-left: 12px solid #CACD94;
    border-bottom: 12px solid #CACD94;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container {
    width: 1050px;
    height: 375px;

    background-color: white;
    border-top: 12px solid #CACD94;
    border-right: 12px solid #CACD94;
    border-left: 12px solid #CACD94;
    border-bottom: 12px solid #CACD94;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;
}

#questionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly center;
}

.submit {
    
    text-align: center;
}

.next{
    text-align: center;
}

#buttonContainer{
    display: flex;
    align-items: flex-end;
}

.circle {
    width: 40px;
    height: 60px;
    color: #7c7c7c;
    border-radius: 100px;
    border-top: 1px solid;
    border-right: 20px solid;
    border-left: 15px solid;
    border-bottom: 1px solid;
    margin: 15px;
}

#circle_correct{
    color: green;
}

#circle_wrong{
    color: red;
}

.question{
    text-align: center;
    
    font-size: 40;
    padding: 5px;

    display: flex;
    align-items: flex-start;
}

.answerType{
    padding: 5px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.answer{
    
}

#correct{
    border: 5px solid green;
}

#wrong{
    border: 5px solid red;
}

.result{
    font-size: medium;
    font-weight:bold;
    padding: 2px;
}

.score{
    font-size: medium;
    padding: 1px;
}

/* The Modal (background) */
.note {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.note-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
