body {
    background-image: url('images/enso.jpeg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: inherit;
}

.logo {
    width: 234px;
    height: 222px;
    font-size: 48px;
    line-height: 200px;
    text-align: center;
    background-color: green;
    border-radius: 150px;
    border-top: 15px solid #CACD94;
    border-right: 15px solid #CACD94;
    border-left: 15px solid #CACD94;
    border-bottom: 15px solid #CACD94;
}

.center {
    text-align: center;
    margin: auto;
}

.color--green {
    color: #CACD94;
    text-shadow: 0 0 1px black;
}

.btn {
    width: 288px;
    height: 40px;
    background-color: white;
    border-radius: 150px;
    border-top: 5px solid #CACD94;
    border-right: 5px solid #CACD94;
    border-left: 5px solid #CACD94;
    border-bottom: 5px solid #CACD94;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bar {
    width: 500px;
    height: 100px;
    font-size: 30px;

    background-color: white;
    border-top: 12px solid #CACD94;
    border-right: 12px solid #CACD94;
    border-left: 12px solid #CACD94;
    border-bottom: 12px solid #CACD94;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container {
    width: 1050px;
    height: 375px;

    background-color: white;
    border-top: 12px solid #CACD94;
    border-right: 12px solid #CACD94;
    border-left: 12px solid #CACD94;
    border-bottom: 12px solid #CACD94;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.submit {
    position: relative;
    top: 320px;
    left: 350px;
}

.header {
    box-sizing: border-box;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
}

.circle {
    width: 40px;
    height: 60px;
    color: #7c7c7c;
    border-radius: 100px;
    border-top: 1px solid;
    border-right: 20px solid;
    border-left: 15px solid;
    border-bottom: 1px solid;
    margin: 15px;
}